<form action="/signin" method="post">
    <input type= "text" name="email" placeholder="email">
    <input type= "text" name="passwordHash" placeholder="passwordHash">
    <input type= "submit" value="signin">
</form>